!!!
%html
  %head
    %title
  %body
    %p{:style => "text-align: center;"}
      %span{:style => "font-size:20px;"}
        %strong Praisal iOS End-user License Agreement (EULA)
    %hr/
    %p{:style => "text-align: justify;"}
      %span{:style => "font-size:14px;"}
        %span{:style => "text-align: justify;"} THIS AGREEMENT REQUIRES BINDING ARBITRATION TO RESOLVE ANY DISPUTE OR CLAIM ARISING OUT OF OR RELATING IN ANY WAY TO THIS AGREEMENT OR YOUR ACCESS TO OR USE OF THE SOFTWARE (AS DEFINED BELOW), AND YOU AGREE THAT ANY SUCH DISPUTE OR CLAIM WILL BE RESOLVED ONLY ON AN INDIVIDUAL BASIS AND NOT IN A CLASS, CONSOLIDATED OR REPRESENTATIVE ACTION. PLEASE REVIEW SECTION 17 CAREFULLY TO UNDERSTAND YOUR RIGHTS AND OBLIGATIONS WITH RESPECT TO THE RESOLUTION OF ANY DISPUTE OR CLAIM ARISING OUT OF OR RELATING IN ANY WAY TO THIS AGREEMENT OR YOUR ACCESS TO OR USE OF THE SOFTWARE.
    %p{:style => "text-align: justify;"}
      %span{:style => "font-size:14px;"} THIS IS AN AGREEMENT MADE BY AND BETWEEN YOU AND LES AVENTURES LLC CONCERNING YOUR USE OF THE PRAISAL APPLICATION (THE “SOFTWARE”). PLEASE READ THIS AGREEMENT CAREFULLY. BY USING THE SOFTWARE, YOU ACKNOWLEDGE THAT YOU HAVE READ AND UNDERSTOOD THIS AGREEMENT AND THAT YOU AGREE TO BE BOUND BY THEM. IF YOU DO NOT AGREE, YOU MAY NOT USE THE SOFTWARE, AND YOU MUST UNINSTALL THE SOFTWARE FROM ANY DEVICE OWNED OR CONTROLLED BY YOU.
    %ol
      %li{:style => "text-align: justify;"}
        %span{:style => "font-size:14px;"} License. Subject to your compliance in all material respects with the terms and conditions of this Agreement and the Usage Rules set forth in the App Store Terms of Service, Les Aventures LLC grants you a restricted, non-exclusive, non-transferable, revocable license to install and use the Software, in machine executable object code form only, on a single iOS personal mobile device that you own and control, solely for personal, non-commercial purposes.
      %li{:style => "text-align: justify;"}
        %span{:style => "font-size:14px;"} Restrictions. You may not use, copy, print, modify, adapt, create derivative works from, market, deliver, rent, lease, sublicense, make, have made, assign, pledge, transfer, sell, offer to sell, import, reproduce, distribute, publicly perform, publicly display or otherwise grant rights to the Software, or any copy thereof, in whole or in part, except as expressly permitted under this Agreement. You may not reverse engineer, disassemble, decompile or translate the Software, or otherwise attempt to derive the source code, structural framework or the data records of the Software, or authorize any third party to do any of the foregoing. You may not loan, resell or distribute the Software, or any part thereof, in any way.
      %li{:style => "text-align: justify;"}
        %span{:style => "font-size:14px;"} Ownership. Les Aventures LLC or its licensors and suppliers own all rights, title and interest in the Software (including, but not limited, to all copyrights, patents, patent applications, trade secrets, trademarks, source code, text and any images, photographs, icons, graphics, animations, video, audio, music, and all other materials incorporated within the Software), and the Software is protected by U.S. and international copyright and other intellectual property laws and treaties. The Software is licensed, not sold, to you for use only under the terms and conditions of this Agreement. Les Aventures LLC reserves all rights not expressly granted to you.
      %li{:style => "text-align: justify;"}
        %span{:style => "font-size:14px;"} Suggestions. If you elect to provide or make available to Les Aventures LLC any suggestions, comments, ideas, improvements or other feedback concerning the Software (collectively, “Suggestions”), Les Aventures LLC shall be free to use, disclose, reproduce, modify, license, transfer and otherwise utilize and distribute your Suggestion in any manner, without credit or compensation to you.
      %li{:style => "text-align: justify;"}
        %span{:style => "font-size:14px;"} Personal Information. By using the Software, you agree that Les Aventures LLC may collect, use and disclose certain information about you pursuant to Les Aventures LLC Privacy Agreement.
      %li{:style => "text-align: justify;"}
        %span{:style => "font-size:14px;"} NO WARRANTY. THE SOFTWARE IS PROVIDED TO YOU “AS IS” AND “WITH ALL FAULTS.” LES AVENTURES LLC AND ITS PARENTS, SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS: (A) CANNOT AND DO NOT WARRANT THE ACCURACY, COMPLETENESS, CURRENCY OR NON-INFRINGEMENT OF THE SOFTWARE AND ITS CONTENTS OR THAT YOUR USE OF THE SOFTWARE WILL BE ERROR-FREE OR UNINTERRUPTED, FREE FROM OTHER FAILURES OR WILL MEET YOUR REQUIREMENTS; AND (B) EXPRESSLY DISCLAIM ALL WARRANTIES, REPRESENTATIONS, GUARANTEES, AND CONDITIONS, EXPRESS, IMPLIED OR STATUTORY, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT. ANY USE OF THE SOFTWARE IS ENTIRELY AT YOUR OWN RISK.
      %li{:style => "text-align: justify;"}
        %span{:style => "font-size:14px;"} LIMITATION OF LIABILITY. TO THE EXTENT NOT PROHIBITED BY LAW, NEITHER LES AVENTURES LLC NOR ITS PARENTS, SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS AND LICENSORS SHALL BE LIABLE FOR ANY SPECIAL, INCIDENTAL, INDIRECT, CONSEQUENTIAL OR EXEMPLARY DAMAGES, WHETHER BASED IN CONTRACT, TORT OR ANY OTHER LEGAL THEORY, INCLUDING, WITHOUT LIMITATION, DAMAGES DUE TO LOST PROFITS, LOST SAVINGS, BUSINESS INTERRUPTION COSTS, LOSS OF BUSINESS INFORMATION OR OTHER DAMAGES ATTRIBUTABLE TO OR ARISING FROM YOUR USE OF OR INABILITY TO USE THE SOFTWARE, EVEN IF LES AVENTURES LLC, ITS PARENTS, SUBSIDIARIES, AFFILIATES, OFFICERS, EMPLOYEES, AGENTS, PARTNERS OR LICENSORS HAD ACTUAL OR CONSTRUCTIVE KNOWLEDGE OF THE POSSIBILITY OF SUCH LOSSES OR DAMAGES AND WHETHER OR NOT SUCH LOSSES OR DAMAGES WERE FORESEEABLE. IN NO EVENT SHALL LES AVENTURES LLC’S TOTAL LIABILITY TO YOU FOR ALL CLAIMS ARISING UNDER THIS AGREEMENT EXCEED THE AMOUNT PAID BY YOU TO LES AVENTURES LLC FOR USE OF THE SOFTWARE AND THE ASSOCIATED SERVICES DURING ANY ONE MONTH.
      %li{:style => "text-align: justify;"}
        %span{:style => "font-size:14px;"} Indemnification. You agree to indemnify and hold Les Aventures LLC and its parents, subsidiaries, affiliates, officers, employees, agents, partners and licensors harmless from any claim or demand, including reasonable attorneys' fees, due to or arising out of your: (a) use of the Software; (b) violation of this Agreement or any law or regulation; or (c) violation of any rights of another party.
      %li{:style => "text-align: justify;"}
        %span{:style => "font-size:14px;"} Termination. This Agreement is effective until terminated by you or Les Aventures LLC. Your rights under this Agreement shall terminate automatically without notice from Les Aventures LLC if you violate any of the terms of this Agreement. Upon termination of this Agreement, all license rights granted to you shall immediately terminate, but all other provisions of this Agreement shall survive termination.
      %li{:style => "text-align: justify;"}
        %span{:style => "font-size:14px;"} Dealings with Advertisers. Your dealings with, or participation in promotions of, advertisers found on or through the Software, including payment and delivery of related goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and such advertiser. You agree that Les Aventures LLC shall not be responsible or liable for any loss or damage of any kind incurred as a result of any such dealings.
      %li{:style => "text-align: justify;"}
        %span{:style => "font-size:14px;"} Links. The Software or third parties may provide links to other websites or resources. Because Les Aventures LLC has no control over such sites and resources, you acknowledge and agree that Les Aventures LLC is not responsible for the availability of such external sites or resources and does not endorse and is not responsible or liable for any Content, advertising, products, services or other materials on or available from such sites or resources.
      %li{:style => "text-align: justify;"}
        %span{:style => "font-size:14px;"} Changes to Software. Les Aventures LLC reserves the right to modify or discontinue, temporarily or permanently, the Software or any service to which it connects, with or without notice and without liability to you.
      %li{:style => "text-align: justify;"}
        %span{:style => "font-size:14px;"}
          Copyright Infringement Notice. Les Aventures LLC, not Apple, shall be solely responsible for the investigation, defense, settlement and discharge of any such intellectual property infringement claim attributable to the Software. If you believe that your work has been made available through the Software in a way that constitutes copyright infringement, please provide Les Aventures LLC’s Agent for Notice of Copyright Claims the following information: (a) a physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed; (b) a description of the copyrighted work claimed to have been infringed, or, if multiple copyrighted works are covered by a single notification, a representative list of such works; (c) a description of the material that you claim is infringing and where that material may be accessed within the Software; (d) your address, telephone number and e-mail address; (e) a statement by you that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent or the law; and (f) a statement from you that the information in the notification is accurate and, under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed. Les Aventures LLC’s Agent for Notice of Copyright Claims can be reached as follows: 
          %br/
          %br/
          Agent for Notice of Copyright Claims: 
          %br/
          E-mail: lesaventuresllc@gmail.com
      %li{:style => "text-align: justify;"}
        %span{:style => "font-size:14px;"} Legal Compliance. You represent and warrant that you are not: (a) located in a country that is subject to a U.S. Government embargo, or that has been designated by the U.S. Government as a “terrorist supporting” country; and (b) listed on any U.S. Government list of prohibited or restricted parties, including, but not limited to, the Specially Designated Nationals List.
      %li{:style => "text-align: justify;"}
        %span{:style => "font-size:14px;"} Governing Law. This Agreement and your relationship with Les Aventures LLC under this Agreement shall be governed by and construed and enforced in accordance with the United States Federal Arbitration Act, other applicable federal laws and the laws of the State of New York, without regard to conflict of laws principles. The United Nations Convention on Contracts for the International Sale of Goods is specifically excluded from application to these Terms.
      %li{:style => "text-align: justify;"}
        %span{:style => "font-size:14px;"} BINDING ARBITRATION AND CLASS ACTION WAIVER. ANY DISPUTE OR CLAIM ARISING OUT OF OR RELATING IN ANY WAY TO THIS AGREEMENT OR YOUR ACCESS TO OR USE OF THE SOFTWARE, INCLUDING, BUT NOT LIMITED TO, THE VALIDITY, APPLICABILITY OR INTERPRETATION OF THIS AGREEMENT, SHALL BE RESOLVED BY BINDING ARBITRATION RATHER THAN IN COURT, EXCEPT THAT YOU MAY ASSERT CLAIMS IN SMALL CLAIMS COURT IF YOUR CLAIMS QUALIFY. THERE IS NO JUDGE OR JURY IN ARBITRATION, AND COURT REVIEW OF AN ARBITRATION AWARD IS LIMITED.
    %p{:style => "margin-left: 16pt; text-align: justify;"}
      %span{:style => "font-size:14px;"} The arbitration will be conducted by the American Arbitration Association (AAA) under its then-applicable rules, including (as appropriate) its Supplementary Procedures for Consumer-Related Disputes. The AAA’s rules are available at http://www.adr.org/. Payment of all filing, administration and arbitrator fees will be governed by the AAA’s rules. The arbitration shall be conducted in the English language by a single independent and neutral arbitrator. For any hearing conducted in person as part of the arbitration, you agree that the hearing will be conducted in the County and State of New York or the city in the United States in which you reside. The decision of the arbitrator shall be final and binding. Judgment on the arbitral award may be entered in any court of competent jurisdiction.
    %p{:style => "margin-left: 16pt; text-align: justify;"}
      %span{:style => "font-size:14px;"} WE EACH AGREE THAT ANY DISPUTE OR CLAIM ARISING OUT OF OR RELATING IN ANY WAY TO THIS AGREEMENT OR YOUR ACCESS TO OR USE OF THE SOFTWARE WILL BE RESOLVED ONLY ON AN INDIVIDUAL BASIS AND NOT IN A CLASS, CONSOLIDATED OR REPRESENTATIVE ACTION OR ARBITRATION. IF FOR ANY REASON A CLAIM PROCEEDS IN COURT RATHER THAN IN ARBITRATION, WE EACH WAIVE ANY RIGHT TO A JURY TRIAL AND AGREE THAT SUCH CLAIM SHALL BE BROUGHT ONLY IN THE UNITED STATES DISTRICT COURT FOR THE SOUTHERN DISTRICT OF NEW YORK OR, IF FEDERAL JURISDICTION IS NOT AVAILABLE, IN THE SUPREME COURT OF NEW YORK COUNTY. YOU HEREBY SUBMIT TO THE PERSONAL JURISDICTION AND VENUE OF SUCH COURTS AND WAIVE ANY OBJECTION ON THE GROUNDS OF VENUE, FORUM NON-CONVENIENS OR ANY SIMILAR GROUNDS WITH RESPECT TO ANY SUCH PROCEEDING.
    %p{:style => "margin-left: 16pt; text-align: justify;"}
      %span{:style => "font-size:14px;"} Notwithstanding anything to the contrary, you and Les Aventures LLC may seek injunctive relief and any other equitable remedies from any court of competent jurisdiction to protect our intellectual property rights, whether in aid of, pending or independently of the resolution of any dispute pursuant to the arbitration procedures set forth above.
    %ol
      %li{:style => "text-align: justify;", :value => "17"}
        %span{:style => "font-size:14px;"} General. (a) If any provision of this Agreement shall be held to be invalid or unenforceable under applicable law, then such provision shall be construed, limited, modified or, if necessary, severed to the extent necessary to eliminate its unenforceability. Such provision shall be ineffective to the extent of such invalidity or unenforceability only, without in any way affecting the remaining parts of this Agreement. (b) This Agreement shall be binding upon and inure to the benefit of the parties hereto and their respective successors and permitted assigns. You may not assign any of your rights or obligations under this agreement to another party without the express written consent of Les Aventures LLC. (c) The failure of either party to require strict performance by the other party of any provision hereof shall not affect the full right to require such performance at any time thereafter, nor shall the waiver by either party of a breach of any provision hereof be taken or held to be a waiver of the provision itself. (d) The parties acknowledge that this Agreement is concluded between you and Les Aventures LLC, and not with Apple, and Apple is not responsible for the Software and the contents thereof. Apple has no obligation whatsoever to furnish any maintenance and support services with respect to the Software. Les Aventures LLC, not Apple, is responsible for addressing any claims from you or any third party relating to the Software or your possession and/or use of the Software, including, but not limited to, product liability claims, any claim that the Software fails to conform to any applicable legal or regulatory requirement and claims arising under consumer protection or similar legislation. Apple and Apple’s subsidiaries are third-party beneficiaries of this Agreement, and Apple shall have the right (and will be deemed to have accepted the right) to enforce the Agreement against you as a third-party beneficiary hereof. (e) This Agreement constitutes the complete and exclusive statement of the agreement between Les Aventures LLC and you with respect to the subject matter hereof and supersedes any proposal or prior or contemporaneous agreement, oral or written, and any other communications between the parties in relation to the subject matter of this Agreement.